<div class="container">
    {{cover-page}}
    {{what-is-ember}}
    {{page-components}}
    {{page-routing}}
    {{page-data}}
    {{page-cli}}
    {{page-testing}}
    {{page-deployment}}
    {{page-development-roadmap}}
    {{page-addons}}
    {{page-community}}
    {{get-started}}
</div>